:root {
  --light-gray-color: #f5f4fa;
  --gray-color: #757575;
  --dark-gray-color: #212121;
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --footer-bckgr-color: #2f303a;
}
body {
  /* width: 1600px; */
  margin: 0;
  font-family: roboto, sans-serif;
}
/* utilits */
a {
  text-decoration: none;
}
img {
  display: block;
  /* margin: auto; */
}

.index-main h2 {
  color: var(--dark-gray-color);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
}
.section {
  padding: 94px 0;
}
.section-header {
  margin: 0;
  text-align: center;
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.container > .list {
  margin: 50px 0 0 0;
  padding: 0;

  display: flex;
  justify-content: space-between;

  list-style-type: none;
}
/* header */
.header .container {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  /* margin: 25px 0 25px 0; */
  color: var(--blue-color);
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  display: inline-block;
}
.logo .studio {
  color: #000000;
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-list {
  /* padding: 32px 0; */
  margin: 0 0 0 80px;
  display: flex;
  list-style-type: none;
}
.nav-list > .nav-li + .nav-li {
  margin-left: 45px;
}
.nav-list .link {
  display: block;
  padding: 32px 0;
  /* padding: calc(100%-); */

  color: var(--dark-gray-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--blue-color);
}
.address {
  margin-left: auto;
}
.address > .link + .link {
  margin-left: 30px;
}
.address > .link .pic {
  display: inline;
  margin-right: 10px;
}
.address .link {
  display: flex;
  display: inline-block;
  color: var(--gray-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.address .link:hover,
.address .link:focus {
  color: var(--blue-color);
}
/* hero-section */
.hero-section {
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}
.hero {
  margin: 0;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-section button {
  margin-top: 46px;

  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: inline-block;
  padding: 10px 32px;
  border-color: var(--blue-color);
  border: 0;
  border-radius: 4px;
  background: #2196f3;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  text-align: center;
}
/* advanatages */
.hidden {
  display: none;
}
.advantage-logo {
  /* display: block; */
  padding: 25px 104px;
  background-color: var(--light-gray-color);
  border: 0;
  border-radius: 4px;
  /* outline: 2px solid tomato; */
}
.advantage-logo:hover {
  background-color: var(--blue-color);
}
.advantages h3 {
  margin: 30px 0 0 0;

  color: var(--dark-gray-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* outline: 2px solid tomato; */
}
.advantages p {
  display: block;
  width: 278px;
  margin: 10px 0 0 0;

  color: var(--gray-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* чем мы занимаемся */
.what-we-do .list .item {
  display: block;
}
.what-we-do > a {
  margin: 0;
  padding: 0;
}
.what-we-do h3 {
  display: block;
  margin: 0;
  padding: 35px 0;

  text-align: center;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* наша команда */
.our-team {
  background-color: #f5f4fa;
}
.our-team .list .item {
  text-align: center;

  border: 0;
  border-radius: 4px;
  background-color: var(--white-color);

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.our-team h3 {
  margin: 0;
  padding: 30px 0 0 0;
  color: var(--dark-gray-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.our-team p {
  margin: 0;
  padding: 10px 0 0 0;
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.social-media-list {
  padding: 0;
  margin: 16px auto;
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 207px;
}
.social-media-list > .link {
  padding: 12px 12px;
  border: 0;
  border-radius: 50%;
}
.social-media-list > .link + .link {
  margin-left: 10px;
}
/* .social-media-list > .link:hover,
:focus {
  background-color: var(--blue-color);
} */
/* clients section */
.clients .list .link {
  /* display: block;  */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 175px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients .list .link:hover,
:focus {
  border-color: var(--blue-color);
}

/* footer  */

.footer {
  padding-bottom: 20px;
  background-color: #2f303a;
  color: var(--white-color);
}
.footer .container {
  display: flex;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  /* align-items: center; */
}
.footer .container .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* column-1  */

.address-column {
  margin-top: 46px;
}
.logo-footer {
  font-family: raleway;
  color: var(--blue-color);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.footer .studio {
  color: var(--white-color);
}
.footer address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}
.location {
  margin: 10px 0 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-column .link {
  margin: 9px 0 0 0;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-column .link:hover,
:focus {
  color: var(--blue-color);
}

/* присоединяйтесь */

.connect {
  margin: 52px 0 0 0;
}
.footer b {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.connect .list {
  display: flex;
  margin: 20px 0 0 0;
  padding: 0;
  list-style-type: none;
}
.connect .social-link {
  padding: 12px 12px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.connect .social-link + .social-link {
  margin-left: 10px;
}
.connect .social-link:hover,
.connect .social-link:focus {
  background-color: var(--blue-color);
}

/* подписаться на рассылку */

.subscribe {
  margin: 52px 0 0 0;
  display: flex;
  flex-direction: row;
}
.subscribe-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.subscribe .email {
  /* display: inline-block; */
  width: 270px;
  padding: 9px 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}
.subscribe .button {
  /* display: inline-block; */
  margin-left: 12px;
  padding: 10px 45px;
  border: 0;
  border-radius: 4px;
  background-color: var(--blue-color);
  color: var(--white-color);

  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.copyright {
  display: block;
  text-align: center;
  margin: 20px 0 0 0;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
}

/* PORTFOLIO */
/* gallery */
/* filter  */
.portfolio {
  border-bottom: 1px solid #ececec;
}
.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-list {
  padding: 0;
  margin: 0 0 50px 0;
  display: flex;
  display: inline-block;
  /* margin: 0 auto; */
  justify-content: center;
}
.filter-list > .item {
  display: inline-block;
  margin: 0 auto;
  justify-content: center;
}
.filter-list .button {
  display: block;
  background-color: var(--white-color);
  color: var(--dark-gray-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: inline-block;
  padding: 10px 32px;
  /* border-color: var(--blue-color); */
  border: 0;
  border-radius: 4px;
}
.filter-list .button:hover,
.filter-list .button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}
.filter-list > .item + .item {
  margin-left: 8px;
}
.card-list {
  padding: 0;
  /* margin: 50px 0 0 0; */
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
}
.card-list > .item {
  padding: 0;
  margin: 15px;
  width: 380px;
  display: block;
  list-style-type: none;

  border: 1px solid #eeeeee;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
.card-list > .item > .link {
  padding: 0;
  margin: 0;
  /* line-height: 1; */
}
.text {
  padding: 20px 24px;
}
.gallery .header {
  margin: 0;
  color: var(--dark-gray-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.type {
  margin: 0;
  /* display: block; */
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.description {
  visibility: hidden;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
